<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="CV4DB"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=c:\users\frazeal\source\repos\ExportPlatform\ExportPlatform\DataBase.mdf;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="ProcessingJobsXml" value="C:\Users\frazeal\source\repos\ExportPlatform\ExportPlatform\DAL\ProcessingJobs.xml"/>
  </appSettings>
</configuration>